<html>
  <body>
    <h1>Send Message</h1>
    <form action="/new" method="POST">
        <div>
          <label for="author">Author:</label>
          <input type="text" id="author" name="author" required>
        </div>
        <div>
          <label for="message">Message:</label>
          <input type="text" id="message" name="message" required>
        </div>
        <button type="submit">Send</button>
      </form>
  </body>
</html>